

*,
*::before, 
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
* {
  margin: 0;
}

html,body {
  height: 100%;
}


.items {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  margin-top: 10%;
  margin-left: 20%;
  padding: 5%;
}